img {
    max-width: 100%;
}
p {
font-family: "times new roman", serif;
}

body {
    max-width: 960 px;
    margin: 0 auto;
    justify-content: center;
}

header {
    background-color: blue;
    color: white;
}