@media only screen and (min-width: 60em) {
article {
    width: 200px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.visual-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.visual-text {
    grid-column: 1/3;
    margin-top: 15px;
}
.white-space-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.white-space-text {
    grid-column: 1/4;
    margin-top: 5px;
}
.repetition {
    margin-left: auto;
    
}
.visual-hierarchy {
    margin-left: auto;
    margin-right: auto;
}
.white-space {
    margin-left: auto;
    margin-right: auto;
}
}