@media only screen and (min-width: 60em) {
article {
    width: 200px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.visual-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.repetition {
    margin-left: auto;
    grid-column: 1;
    
}
.visual-hierarchy {
    grid-column: 2;
    margin-left: auto;
    margin-right: auto;
}
.white-space {
    grid-column: 3;
    margin-left: auto;
    margin-right: auto;
}
}