@media only screen and (min-width: 37.5em) {
    article {
        width: 300px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .repetition {
        grid-column: 1/2;
        
    }
    .visual-hierarchy {
        grid-column: 2/3;
    }
    .white-space {
       grid-row: 2;
       grid-column: 1/3;
    }
    
}