@media only screen and (min-width: 64rem) {
main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
nav button {
   display: none;
}
nav ul {
    display: flex;
    justify-content: flex-end;
}
nav ul li a {
    padding: .5rem 1rem;
}
.hero {
    grid-column: 2/4;
    grid-row: 1/3;
    height: 415px;
}
.event {
    grid-column: 1;
    grid-row: 1;
}
.weather {
    grid-column: 1;
    grid-row: 2;
}
.join {
    grid-column: 1;
    grid-row: 3;
}
.news {
    grid-column: 2/4;
    grid-row: 3;
}
.multi-section {
    grid-column: 4;
    grid-row: 1/4;
    flex-direction: column;
    height: 630px;
}
.section-3 {
    display: block;
    width: 75%;
    margin: 10px 0;
    padding: 1px 0 1px 1px;
}
.footer-top {
    grid-column: 1/3;
}
.footer-bottom {
    grid-column: 2/4;
    grid-row: 3;
}
.footer-headline {
    grid-column: 2;
    grid-row: 1;
}
.footer-address {
    grid-column: 2;
    grid-row: 2;
}
form {
    grid-column: 1/5;
}
form label.middle {
    padding: .4rem 0;
}
}