@media only screen and (min-width: 35rem) {
.twitter-logo {
    margin-left: -100px;
}
header h1 {
    margin-left: -125px;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-bottom {
    grid-column: 1/4;
    grid-row: 2;
}

}
