@media only screen and (min-width: 35rem) {
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.current-date {
    margin-left: 100px;
}
section {
    margin: 0;
    padding: 0;
}
.hero {
    grid-column: 1/4;
    grid-row: 1;
    height: 400px;
}
.hero-image {
    background-image: url(images/provo-hero-image-medium.jpg);
}
.news {
    grid-column: 1/4;
    grid-row: 2;
}
.multi-section {
    grid-column: 1/4;
    grid-row: 3;
    flex-direction: row;
    height: 250px;
}
.section-1, .section-2 {
    align-items: center;
    justify-content: center;
    padding: 5px 0 5px 5px;
}
.join {
    font-family: 'Macondo', cursive;
    display: block;
    grid-column: 1/4;
    grid-row: 4;
    text-align: center;
    font-size: x-large;
}
.event {
    grid-column: 1/3;
    grid-row: 5;
}
.weather {
    grid-column: 3/4;
    grid-row: 5;
    width: 100%;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-headline {
    margin-left: 15px;
}
.footer-address {
    margin-left: 30px;
}
.footer-top {
    flex-direction: row;
    grid-column: 1/4;
    grid-row: 1;
}
.footer-middle {
    grid-column: 4;
    grid-row: 1;
}
.footer-bottom {
    grid-column: 2/5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.copyright {
    grid-column: 1;
}
#lastmodified {
    grid-column: 2;
    margin-top: 14px;
}
.copyright, #lastmodified {
    font-size: smaller;
}
form {
    grid-column: 1/4;
}
form label.top input {
    max-width: 20rem;
}

}
