@media only screen and (min-width: 35rem) {
header, main, footer, section {
    width: 100%;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-bottom {
    grid-column: 1/4;
    grid-row: 2;
}

}
