img {
    width: 100%;
}
header {
    background-color: #B594B6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.header-logo {
    height: 75px;
    width: 75px;
}
header h1 {
    grid-column: 2/3;
    grid-row: 1;
    font-size: medium;
    margin-left: -50px;
}
.facebook-logo {
    grid-column: 3;
    grid-row: 1;
    height: 25px;
    width: 25px;
    margin-left: 100px;
}
.twitter-logo {
    grid-column: 4;
    grid-row: 1;
    height: 25px;
    width: 25px;
    margin-left: -25px;
}
main {
    background-color: #82FF9E;
}
footer {
    background-color: #eee;
}
header, nav, main, footer {
    max-width: 960px;
}
nav {
    grid-column: 5;
    grid-row: 1;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    background: transparent;
    border: none;
    color: #555;
    font-size: 2rem;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
section {
    height: 200px;
    border-style: groove;
}