body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header, main, footer {
    width: 100%;
}
img {
    width: 100%;
}
p {
    font-family: 'Oswald', sans-serif;
}
h1, h2, h3 {
    font-family: 'Macondo', cursive;
}
header {
    background-color: #B594B6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.header-logo {
    height: 75px;
    width: 75px;
    grid-column: 1;
}
header h1 {
    grid-column: 2;
    font-size: medium;
}
header div {
    grid-column: 4;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-top: 10px;
}
.social-header img {
    justify-self: flex-start;
}
.facebook-logo {
    height: 25px;
    width: 25px;
}
.twitter-logo {
    height: 25px;
    width: 25px;
}
main {
    background-color: #82FF9E;
}
nav {
    grid-column: 5;
    grid-row: 1;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    background: transparent;
    border: none;
    color: #555;
    font-size: 2rem;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul {
    display: none;
}
nav ul.open {
    display: block;
}
section {
    height: 200px;
    border-style: groove;
    background-color: #82FF9E;
}
section div {
    border-style: groove;
    height: 200px;
}
section em {
    padding-left: 15px;
}
section div em {
    padding-left: 15px;
}
footer {
    background-color: #eee;
    justify-items: center;
    position: absolute;
    top: 1300px;
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    height: 150px;
    width: 150px;
}
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3 {
    display: none;
}
.multi-section {
    height: 400px;
}
.section-1, .section-2 {
    width: 500px;
    margin-left: 18px;
}
.footer-address {
    margin-top: -20px;
}
#lastmodified {
    margin-top: -10px;
}
.join-section {
    display: none;
}