@media only screen and (min-width: 35rem) {

/*---header---*/
header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.social-header {
    grid-column: 3/6;
}
.header-facebook {
    grid-column: 6;
}
.header-twitter {
    grid-column: 6;
}
.header-logo {
    padding-bottom: 5px;
}
.social-header p {
    font-size: 20px;
}

/*---home-main---*/




/*---footer---*/

}