/*---general---*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Finlandica', sans-serif;
}
p {
    font-family: 'Gentium Book Plus', serif;
}



/*---header---*/
header {
    background-color: #55868C;
}
.header-logo {
    width: 100px;
    height: 100px;
}


/*---nav---*/
nav {
    background-color: #33673B;
}


/*---home-main---*/
main {
    background-color: #D8CBC7
}
section {
    background-color: #9A6D38;
}
.payson-temple-image {
    display: none;
}

/*---footer---*/
footer {
    background-color: #19231A
}


