/*---general---*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Finlandica', sans-serif;
}
p {
    font-family: 'Gentium Book Plus', serif;
}



/*---header---*/
header {
    background-color: #55868C;
    display: flex;
    flex-direction: row;
}
.header-logo {
    width: 50px;
    height: 50px;
}
.header-facebook {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.header-twitter {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}
.social-header {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}
header picture {
    padding-top: 10px;
}




/*---nav---*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
nav button {
    background: transparent;
    border: none;
    color: black;
    font-size: 2rem;
    padding-top: 15px;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul.open {
    display: block;
}

/*---home-main---*/
main {
    background-color: #D8CBC7
}
section {
    background-color: #9A6D38;
}
.payson-temple-image {
    display: none;
}

/*---footer---*/
footer {
    background-color: #19231A
}
iframe {
    display: none;
}
.social-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo-footer {
    width: 75px;
    height: 75px;
    grid-column: 2;
}
.facebook-footer {
    width: 30px;
    height: 30px;
    grid-column: 3;
}
.twitter-footer {
    width: 30px;
    height: 30px;
    grid-column: 3;
}



