/*---general---*/
h1,h2,h3,h4,h5,h6 {
    font-family: 'Finlandica', sans-serif;
}
p {
    font-family: 'Gentium Book Plus', serif;
}



/*---header---*/
header {
    background-color: #55868C;
    display: flex;
    flex-direction: row;
}
.header-logo {
    width: 50px;
    height: 50px;
}
.header-facebook {
    width: 50px;
    height: 50px;
    padding-top: 10px;
}
.header-twitter {
    height: 50px;
    width: 50px;
    padding-top: 10px;
}
.social-header {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
}
header picture {
    padding-top: 10px;
}




/*---nav---*/
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}
nav button {
    background: transparent;
    border: none;
    color: black;
    font-size: 2rem;
    padding-top: 15px;
}
nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}
nav ul.open {
    display: block;
}
nav.open {
    background-color: #33673B;
}

/*---home-main---*/
main {
    background-color: #D8CBC7
}
.home-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
section {
    background-color: #9A6D38;
}
.payson-temple-image {
    display: none;
}
.home-headline, .temple-info, .home-booking, .weather, .home-contact-us {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.home-headline {
    grid-column: 1/4;
    margin-top: 10px;
}
.home-headline h1 {
    margin-top: 25px;
}
.home-headline p {
    position: relative;
    bottom: 20px;
}
.temple-info {
    grid-column: 1/4;
    height: 250px;
}
.temple-info h2 {
    border: 1.5px solid;
    padding: 10px 10px 10px;
    border-radius: 5px;
    background-color: #C4925A;

}
.announced {
    position: relative;
    bottom: 20px;
}
.groundbreaking {
    position: relative;
    bottom: 40px;
}
.dedicated {
    position: relative;
    bottom: 60px;
}
.square-footage {
    position: relative;
    bottom: 80px;
}
.home-booking {
    grid-column: 1/4;
}
.weather {
    grid-column: 1/4;
    height: 100px;
}
.three-day-headline, .three-day-forecast {
    display: none;
}
.weather-title {
    margin-top: 5px;
}
.one-day-forecast {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.temperature {
    position: relative;
    right: 45px;
    bottom: 15px;
    font-size: xx-large;
}
.condition, .humidity {
    position: relative;
    left: 55px;
    bottom: 50px;
}
.home-contact-us {
    grid-column: 1/4;
    margin-bottom: 10px;
}


/*---footer---*/
footer {
    background-color: #D81E5B;
}
iframe {
    display: none;
}
.social-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo-footer {
    width: 75px;
    height: 75px;
    grid-column: 2;
    margin-left: 20px;
    margin-top: 10px;
}
.facebook-footer {
    width: 30px;
    height: 30px;
    grid-column: 3;
    margin-top: 25px;
}
.twitter-footer {
    width: 30px;
    height: 30px;
    grid-column: 3;
    margin-top: -30px;
}
.map-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address-2 {
    margin-top: -20px;
}
.footer-bottom-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
}



